.circle {
  height: 16px;
  width: 16px;
  background:#22222280;
  border-radius: 50%;
  margin-top: 12px;
}

.profile-pic {
  width: 24px;
  height: 24px;
  background-size: 24px;
  margin: 8px 0 0 8px;
}

.user-name {
  margin-left: 8px;
  color: #222222;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
}

.user-email {
  margin-left: 4px;
  color: #ababab;
}

.approved-date {
  margin: 3px 0 0 8px;
  font-size: 12px;
  color: #ababab;
  font-weight: 500;
}

.approver-green {
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 480px) { 
  .approver-info {
    max-width: 70vw;
  }

  .user-name {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

