.request-main {
  height: auto;
  margin-top: 15px;
  background: #fff;
  border-radius: 8px;
  padding: 15px 0 0 0;
}

.requester-container {
  margin: 16px;
  border: 1px solid rgba(34, 34, 34, 0.05);
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgb(34 34 34 / 5%);
}

.request-header {
  border-bottom: 1px solid #2222220d;
  font-size: 16px;
  line-height: 1.75;
  display: flex;
  align-items: center;
  padding: 0 0 10px 10px;
}

.request-logo {
  height: 36px;
}

.first-col {
  border-right: 1px solid #2222220d;
  padding-bottom: 20px;
}

.header-title {
  margin-left: 6px;
}

.info-holder {
  font-size: 12px;
  margin: 16px;
}

.red-text {
  color: #FF6448;
}

.info-text {
  margin-top: 2px;
  color: #22222280;
}

.footer {
  margin: 0 16px;
}

.button {
  height: 32px;
  padding: 7px 16px;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
}

.button-primary {
  background-color: #26C281;
  border: 1px solid rgba(34, 34, 34, 0.1);
  margin-right: 10px;
}

.button-secondary {
  background: #FF6448;
  border: 1px solid rgba(34, 34, 34, 0.1);
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 20px 16px;
    margin:0;
    background-color: #F2F2F2;
  }

  .button {
    width: 48%;
    height: 36px;
  }

}