.row-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(34, 34, 34, 0.05);
  padding: 12px;
}

.row-title {
  width: 30%;
  font-size: 14px;
  line-height: 16px;
  color: #222222;
  opacity: 0.5;
  white-space: nowrap;
}

.row-data {
  width: 70%;
  color: #222;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.14;
  margin-left: 4px;
  display: flex;
  align-items: center;
  max-width: 400px;
}

.row-container-same-line {
  display: block;
  border-bottom: 1px solid rgba(34, 34, 34, 0.05);
}

.row-container-1 {
  width: 50%;
  display: flex;
  padding: 12px 0 12px 12px;
}

.row-container-1:first-child {
  border-right: 1px solid #2222220d;
}

.row-container-1 .row-title {
  width: 100%;
}

.row-container-1 .row-data-1 {
  margin-left: 10%;;
}

.row-container-1 .row-data {
  width: 100%;
}

.requester-profile-pic {
  height: 24px;
  width: 24px;
}

.requester-name {
  margin-left: 8px;
}

@media screen and (max-width: 480px) {
  .row-title {
    width: 40%;
  }

  .row-data {
    width: 60%;
  }
}


